name: trivy-container-scanning

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14

      - name: Build Simple Docker Image
        run: |
          docker build -f ./container-scanning/Dockerfile -t container-scanning-poc:${{ github.sha }} .

      - name: Run Vulnerability Scanner Against Image
        uses: aquasecurity/trivy-action@0.0.7
        with:
          image-ref: 'container-scanning-poc:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          # ignore-unfixed: true
          # severity: 'CRITICAL,HIGH'
